In [1]:
#Step 3 - Climate Analysis and Exploration
#Choose a start date and end date for your trip. Make sure that your vacation range is approximately 3-15 days total.
#Use SQLAlchemy create_engine to connect to your sqlite database.
#Use SQLAlchemy automap_base() to reflect your tables into classes and save a reference to those classes called Station and Measurement.

import matplotlib
matplotlib.use('nbagg')
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect, func

# Python SQL toolkit and Object Relational Mapper
from sqlalchemy import MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite", echo=False)

In [6]:
# Reflect Database into ORM classes
Base = automap_base()
Base.prepare(engine, reflect=True)
Base.classes.keys()
#do some reflection and export our schema

['clean_hawaii_measurements.csv',
 'clean_hawaii_stations.csv',
 'measurement',
 'measurements',
 'station',
 'stations']

In [4]:
Measurement = Base.classes.measurement
Station = Base.classes.station
session = Session(engine)

In [5]:
inspector = inspect(engine)
inspector.get_table_names()

['clean_hawaii_measurements.csv',
 'clean_hawaii_stations.csv',
 'measurement',
 'measurements',
 'station',
 'stations']

In [ ]:
session.query(clean_csv2.station).all()

In [ ]:
engine.execute('SELECT * FROM clean_hawaii_measurements.csv LIMIT 5').fetchall()

In [ ]:
inspector = inspect(engine)
inspector.get_table_names()

In [ ]:
# Get a list of column names and types
columns = inspector.get_columns('clean_hawaii_stations.csv')
for c in columns:
    print(c['name'], c['type'])
# columns

In [ ]:
# Get a list of column names and types
columns = inspector.get_columns('clean_hawaii_measurements.csv')
for c in columns:
    print(c['name'], c['type'])
# columns

In [ ]:
# filter North American mammals whose genus is "Antilocapra"
# query, loop over and print out animals.
mammals = session.query(NA).filter(NA.genus == 'Antilocapra').all()
for mammal in mammals:
    print("Family: {0}, Genus: {1}".format(mammal.family, mammal.genus))

In [ ]:
#Precipitation Analysis
#Design a query to retrieve the last 12 months of precipitation data.
#Select only the date and prcp values.
#Load the query results into a Pandas DataFrame and set the index to the date column.
#Plot the results using the DataFrame plot method.


sel = [Dow.stock, 
       func.avg(Dow.open_price), 
       func.avg(Dow.high_price), 
       func.avg(Dow.low_price), 
       func.avg(Dow.close_price)]
may_averages = session.query(*sel).\
    filter(func.strftime("%m", Dow.date) == "05").\
    group_by(Dow.stock).\
    order_by(Dow.stock).all()
### END SOLUTION
may_averages

In [ ]:
#Station Analysis
#Design a query to calculate the total number of stations.
#Design a query to find the most active stations.
#List the stations and observation counts in descending order
#Which station has the highest number of observations?
#Design a query to retrieve the last 12 months of temperature observation data (tobs).
#Filter by the station with the highest number of observations.
#Plot the results as a histogram with bins=12