In [1]:
# Import Dependencies
import pandas as pd

In [26]:
# Import the CSV into a pandas DataFrame
csv_path = "budget_data_2.csv"
budget_df = pd.read_csv(csv_path)
budget_df.head()

       Date  Revenue
0  Jan-2009   943690
1  Feb-2009  1062565
2  Mar-2009   210079
3  Apr-2009  -735286
4  May-2009   842933

In [27]:
# The total number of months included in the dataset
def get_month(dt):
    return dt.split("-")[0]

budget_df["Month"]=budget_df["Date"].apply(get_month)
budget_df.head()

       Date  Revenue Month
0  Jan-2009   943690   Jan
1  Feb-2009  1062565   Feb
2  Mar-2009   210079   Mar
3  Apr-2009  -735286   Apr
4  May-2009   842933   May

In [28]:
months=budget_df["Month"].count()

print("The total number of months included in the dataset is " + str(months) + " months.")

The total number of months included in the dataset is 86 months.

In [29]:
# The total amount of revenue gained over the entire period
total=budget_df["Revenue"].sum()

print("The total amount of revenue gained over the entire period $" + str(total) + ".00 dollars")

The total amount of revenue gained over the entire period $36973911.00 dollars

In [30]:
count = len(budget_df.index)
count

86

In [31]:
# The average change in revenue between months over the entire period
revenue_df=budget_df["Revenue"]
revenue_df.head()

0     943690
1    1062565
2     210079
3    -735286
4     842933
Name: Revenue, dtype: int64

In [32]:
revenue2_df=revenue_df[1:]

revenue2_df.head()

1    1062565
2     210079
3    -735286
4     842933
5     358691
Name: Revenue, dtype: int64

In [33]:
diff_months =  [x - y for x, y in zip(revenue2_df, revenue_df)]
diff2= pd.DataFrame(diff_months)
av_change=diff2.sum()/(count-1)
av_change

print("The average change in revenue between months is $" + str(av_change[0]) + " dollars")

The average change in revenue between months is $-5955.30588235 dollars