In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Import the CSV into a pandas DataFrame
csv_path = "budget_data_1.csv"
budget_df = pd.read_csv(csv_path)
budget_df.head()

     Date  Revenue
0  Oct-12  1154293
1  Nov-12   885773
2  Dec-12  -448704
3  Jan-13   563679
4  Feb-13   555394

In [3]:
# The total number of months included in the dataset
def get_month(dt):
    return dt.split("-")[0]

budget_df["Month"]=budget_df["Date"].apply(get_month)
budget_df.head()

     Date  Revenue Month
0  Oct-12  1154293   Oct
1  Nov-12   885773   Nov
2  Dec-12  -448704   Dec
3  Jan-13   563679   Jan
4  Feb-13   555394   Feb

In [4]:
months=budget_df["Month"].count()

print("The total number of months included in the dataset is " + str(months) + " months.")

The total number of months included in the dataset is 41 months.

In [5]:
# The total amount of revenue gained over the entire period
total=budget_df["Revenue"].sum()

print("The total amount of revenue gained over the entire period $" + str(total) + ".00 dollars")

The total amount of revenue gained over the entire period $18971412.00 dollars

In [6]:
count = len(budget_df.index)
count

41

In [7]:
# The average change in revenue between months over the entire period
revenue_df=budget_df["Revenue"]
revenue_df.head()

0    1154293
1     885773
2    -448704
3     563679
4     555394
Name: Revenue, dtype: int64

In [17]:
revenue2_df=revenue_df[1:]

revenue2_df

1      885773
2     -448704
3      563679
4      555394
5      631974
6      957395
7     1104047
8      693464
9      454932
10     727272
11     125016
12     339251
13      78523
14     977084
15    1158718
16     332681
17    -341227
18     173826
19     742611
20    1189806
21     607363
22   -1172384
23     587993
24     295198
25    -300390
26     468995
27     698452
28     967828
29    -454873
30     375723
31    1140526
32      83836
33     413189
34     551363
35    1195111
36     657081
37      66659
38     803301
39    -953301
40     883934
Name: Revenue, dtype: int64

In [16]:
diff_months =  [x - y for x, y in zip(revenue2_df, revenue_df)]
diff2= pd.DataFrame(diff_months)
av_change=diff2.sum()/(count-1)
av_change

print("The average change in revenue between months is $" + str(av_change[0]) + " dollars")

The average change in revenue between months is $-6758.975 dollars

In [12]:
diff_months

[-268520,
 -1334477,
 1012383,
 -8285,
 76580,
 325421,
 146652,
 -410583,
 -238532,
 272340,
 -602256,
 214235,
 -260728,
 898561,
 181634,
 -826037,
 -673908,
 515053,
 568785,
 447195,
 -582443,
 -1779747,
 1760377,
 -292795,
 -595588,
 769385,
 229457,
 269376,
 -1422701,
 830596,
 764803,
 -1056690,
 329353,
 138174,
 643748,
 -538030,
 -590422,
 736642,
 -1756602,
 1837235]