In [8]:
# Import Dependencies
import pandas as pd
import operator

In [9]:
csv_path = "election_data_1.csv"
election_df = pd.read_csv(csv_path)
election_df.head()

   Voter ID      County Candidate
0   1405627      Harsaw    Vestal
1   1711723  Mershville    Vestal
2   1550639  Matterdawn    Vestal
3   1042621      Harsaw    Vestal
4   1583965  Matterdawn    Vestal

In [10]:
#Calculate the total number of votes cast
count = len(election_df.index)
count

803000

In [11]:
#A complete list of candidates who received votes
unique_df= election_df["Candidate"].unique()
candidates= pd.DataFrame(unique_df)
candidates

        0
0  Vestal
1  Torres
2    Seth
3  Cordin

In [12]:
#The percentage of votes each candidate won
cand_df = election_df.groupby(["Candidate"])
cand2_df=cand_df.count()
#cand2_df

renamed_df = cand2_df.rename(columns={"Voter ID":"Votes"})
renamed_df = renamed_df [["Votes"]]
#renamed_df

perc_vote= renamed_df["Votes"]*100/count
per_vote=pd.DataFrame(perc_vote)
per_vote=per_vote.rename(columns={"Votes":"Percentage of Vote"})
per_vote

           Percentage of Vote
Candidate
Cordin                    3.0
Seth                      5.0
Torres                   44.0
Vestal                   48.0

In [13]:
#The total number of votes each candidate won
renamed_df

            Votes
Candidate
Cordin      24090
Seth        40150
Torres     353320
Vestal     385440

In [14]:
#The winner of the election based on popular vote.
votes=renamed_df["Votes"].max()
index=renamed_df.index.max()
print("The winner was with " +str(index) + " with "+ str(votes) + " votes")

The winner was with Vestal with 385440 votes